---
import MainLayout from '$layouts/MainLayout.astro'
import Heading from '$components/Heading.astro'
import Card from '$components/Card.astro'

const title = "Legend of the fountain of wisdom"
---
<MainLayout {title}>
  <article>
    <Heading tag='h1' variation='big'>{title}</Heading>

    <p>Talking about himself in third person, Arnor is a software developer and designer hailing from Iceland.</p>

    <p>There's a lot a lot to say about the man. Proud father of two.</p>

    <div class="w-8/12 my-6">
      <Card>
        <Heading tag='h2' variation='semi'>arnorhs</Heading>
        <ul class='my-0'>
          <li>Twitter: <a href="https://twitter.com/arnorhs">twitter.com/arnorhs</a></li>
          <li>LinkedIn: <a href="https://linkedin.com/in/arnorhs">/in/arnorhs</a></li>
          <li>Github: <a href="https://github.com/arnorhs">github.com/arnorhs</a></li>
          <li>Website: <a href="https://www.arnorhs.dev">arnorhs.dev</a></li>
          <li>NPM: <a href="https://www.npmjs.com/~arnorhs">~arnorhs</a></li>
          <li>E-mail: <a href="mailto:arnorhs@gmail.com">arnorhs@gmail.com</a></li>
        </ul>
      </Card>
    </div>

    <Heading tag='h2'>Technical know-how</Heading>

    <ul>
      <li>Javascript / node.js / typescript - have been using node.js since version 0.7 - I have a lot of published unmaintained packages on NPM</li>
      <li>UI frameworks such as React, Svelte, Astro, Solid.js etc</li>
      <li>React frameworks/setups such as Gatsby, Next.js, CRA - CSS in JS solutions, styled components, css modules</li>
      <li>CI/CD systems, unit testing etc</li>
      <li>Build tools, babel, webpack, snowpack, parcel, etc</li>
      <li>Java - including multi-threaded programming etc on Android</li>
      <li>Native Android & iOS development, as well as mobile development in React Native</li>
      <li>Server management, networking in general, DNS, email services, etc</li>
      <li>CSS, SASS, postCSS etc</li>
      <li>PHP - not really anymore, but kind of</li>
    </ul>

    <Heading tag='h2'>Interests and hobbies</Heading>

    <ul>
      <li>Software development - It probably goes without saying</li>
      <li>Making music - Both electonic music, instrumentalist, love making songs and beats, played in bands, etc</li>
      <li>Analog modular music and designing my own circuits, soldering etc</li>
      <li>Rock climbing - I was an avid rock climber for a few years, and have visited many
          places around the world for that purpose.</li>
      <li>Video games and chess</li>
    </ul>

    <Heading tag='h2'>Work experience</Heading>

    <ol>
      <li>
        <Heading tag='h3' variation='semi'>Júní (formerly known as Kosmos & Kaos)</Heading>
        <p>CTO / TD: 2016 - present</p>
      </li>

      <li>
        <Heading tag='h3' variation='semi'>Undisclosed startup</Heading>
        <p>Designer, developer and later co-founder: 2011 - 2015</p>
      </li>

      <li>
        <Heading tag='h3' variation='semi'>Self-employed</Heading>
        <p>Design, development: 2010 - 2011</p>
      </li>

      <li>
        <Heading tag='h3' variation='semi'>Netvistun ehf</Heading>
        <p>Technical director: 2004 - 2010</p>
      </li>
    </ol>

    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
  </article>
</MainLayout>
