---
import MainLayout from '../layouts/MainLayout.astro'
import PostPreview from '../components/PostPreview.astro'
import Heading from '../components/Heading.astro'
import Card from '../components/Card.astro'
import { dateFormat, getAllGroupedPosts } from '../lib/'

const groupedPosts = await getAllGroupedPosts()
---

<MainLayout title="Blog archive">
  {
    groupedPosts.map(({ year, posts }) => (
      <ol>
        <li>
          <Heading variation="semi" tag="h1">
            {year}
          </Heading>
          {parseInt(year, 10) >= 2012 ? (
            <ol class="md:grid md:grid-cols-2 gap-3">
              {posts.map((post) => (
                <li>
                  <Card>
                    <PostPreview post={post} />
                  </Card>
                </li>
              ))}
            </ol>
          ) : (
            <ol>
              {posts.map((post) => (
                <li class="mb-2">
                  <a class="font-semibold text-lg" href={post.url as string}>
                    {post.meta.title}
                  </a>
                  &middot;
                  <span>{dateFormat(post.date)}</span>
                </li>
              ))}
            </ol>
          )}
        </li>
      </ol>
    ))
  }
</MainLayout>
