---
import MainLayout from '$layouts/MainLayout.astro'
import PostPreview from '$components/PostPreview.astro'
import Card from '$components/Card.astro'
import { getAllPosts } from '$lib/'

const posts = await getAllPosts()

---
<MainLayout title='Blog archive'>
  <div class="md:grid md:grid-cols-2 gap-3">
    {posts.map((post) => (
      <Card>
        <PostPreview {post} />
      </Card>
    ))}
  </div>
</MainLayout>
