---
import MainLayout from '../layouts/MainLayout.astro'

const h = (s: '3xl' | '2xl' | 'xl') =>
  `${s === '3xl' ? 'text-3xl' : s === '2xl' ? 'text-2xl' : 'text-xl'} font-bold mt-4 mb-2`
---

<MainLayout title="Disclaimer">
  <h1 class={h('3xl')}>DISCLAIMER</h1>
  <p class="my-3">Last updated January 28, 2023</p>
  <h2 class={h('xl')}>WEBSITE DISCLAIMER</h2>
  <p>
    The information provided by Arnór Heiðar Sigurðsson ("we," "us," or "our") on
    <a href="https://arnorhs.dev" target="_blank" data-custom-class="link">https://arnorhs.dev</a> (the
    "Site") is for general informational purposes only. All information on the Site is provided in good
    faith, however we make no representation or warranty of any kind, express or implied, regarding the
    accuracy, adequacy, validity, reliability, availability, or completeness of any information on the
    Site. UNDER NO CIRCUMSTANCE SHALL WE HAVE ANY LIABILITY TO YOU FOR ANY LOSS OR DAMAGE OF ANY KIND
    INCURRED AS A RESULT OF THE USE OF THE SITE OR RELIANCE ON ANY INFORMATION PROVIDED ON THE SITE.
    YOUR USE OF THE SITE AND YOUR RELIANCE ON ANY INFORMATION ON THE SITE IS SOLELY AT YOUR OWN RISK.
  </p>

  <h2 class={h('xl')}>EXTERNAL LINKS DISCLAIMER</h2>
  <p>
    The Site may contain (or you may be sent through the Site) links to other websites or content
    belonging to or originating from third parties or links to websites and features in banners or
    other advertising. Such external links are not investigated, monitored, or checked for accuracy,
    adequacy, validity, reliability, availability, or completeness by us. WE DO NOT WARRANT,
    ENDORSE, GUARANTEE, OR ASSUME RESPONSIBILITY FOR THE ACCURACY OR RELIABILITY OF ANY INFORMATION
    OFFERED BY THIRD-PARTY WEBSITES LINKED THROUGH THE SITE OR ANY WEBSITE OR FEATURE LINKED IN ANY
    BANNER OR OTHER ADVERTISING. WE WILL NOT BE A PARTY TO OR IN ANY WAY BE RESPONSIBLE FOR
    MONITORING ANY TRANSACTION BETWEEN YOU AND THIRD-PARTY PROVIDERS OF PRODUCTS OR SERVICES.
  </p>

  <h2 class={h('xl')}>PROFESSIONAL</h2>
  <p>
    DISCLAIMER The Site cannot and does not contain software development advice. The software
    development information is provided for general informational and educational purposes only and
    is not a substitute for professional advice. Accordingly, before taking any actions based upon
    such information, we encourage you to consult with the appropriate professionals. We do not
    provide any kind of software development advice. THE USE OR RELIANCE OF ANY INFORMATION
    CONTAINED ON THE SITE IS SOLELY AT YOUR OWN RISK.
  </p>
</MainLayout>
