---
import { dateFormat, Post } from '../lib'
import Heading from './Heading.astro'

export interface Props {
  post: Post
  featured?: boolean
  showByline?: boolean
}

const post = Astro.props.post as Post
const featured = Astro.props.featured ?? false
const showByline = Astro.props.showByline ?? !featured
---

<style>
  .featured-transition {
    display: block;
    transition-property: transform opacity;
    animation: splash 0.6s normal forwards ease-in-out;
  }

  @keyframes splash {
    from {
      perspective-origin: 20%;
      transform: perspective(100px) translateX(-200px) translateZ(-40px);
      opacity: 0;
    }

    20% {
      perspective-origin: 20%;
      transform: perspective(100px) translateX(-200px) translateZ(-40px);
      opacity: 0;
    }

    to {
      perspective-origin: 20%;
      transform: perspective(80px) translate3d(-20px, 0, -20px) rotate3d(0, 2, 1, 2deg);
      opacity: 1;
    }
  }
</style>
<article class={`font-sans ${featured ? 'pt-6' : ''}`}>
  <Heading tag={featured ? 'h2' : 'h3'} variation={featured ? 'big' : 'dense'}>
    <a
      class={featured ? 'featured-transition text-myblue' : 'text-[#000] visited:text-[#000]'}
      href={post.url as string}>{post.meta.title || 'missing title'}</a
    >
  </Heading>

  {
    showByline && (
      <p class="mt-1 md:mt-0 text-xs font-normal" aria-label="published date">
        {dateFormat(post.date)}
      </p>
    )
  }

  <p
    class={`text-lg mt-2 sm:text-2xl font-normal lg:text-base ${featured ? 'md:w-3/4 ' : ''}`}
    set:html={post.meta.summary}
  >
  </p>

  <p>
    <a class="text-myblue text-base font-semibold visited:text-myblue" href={post.url as string}
      >Read on →</a
    >
  </p>
</article>
