---
export interface Props {
  title: string
  href: string
  first?: boolean
  active?: boolean
}

const { title, href, first = false, active = false } = Astro.props
const classes = `
  inline-block
  py-3
  font-regular
  font-nav
  transition-colors
  duration-150
  ease-out
  leading-8
  ${first ? `mr-1 xs:mr-3 sm:mr-5 text-xl font-bold` : `mx-1 px-1 xs:px-2 sm:px-4 text-sm`}
  ${active ? `underline` : ''}
`
---

<li class="inline-block">
  <a class={classes} href={href} title={title}><slot /></a>
</li>
