---
export interface Props {
  title: string
  href: string
  first?: boolean
}

const { title, href, first = false } = Astro.props
const classes = `
  md:inline-block
  py-3
  font-nav
  ${first
    ? `md:mr-5 text-xl`
    : `md:mx-1 md:px-4`
  }
`
---
<li class="md:inline-block xs:block">
  <a
    class={classes}
    href={href}
    title={title}
  ><slot /></a>
</li>
