.wrapper {
  background:
    url(bg.png) no-repeat center center;
  background-size: cover;

  color: {{ textColor }};
  display: flex;
  flex-direction: column;
}


.title {
  text-align: center;
  margin: 0 5%;
  font-size: 0.01rem; /* Rely on textFit to find the right size */
  font-family: 'Bungee Shade';
  height: 100%;

}

.subtitle {
  text-align: center;
  margin-top: 8%;
  margin-bottom: 2%;
  font-size: 150%;
  font-family: 'Bungee';
}

